@import './variables.css';
@import './themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: var(--var-montserrat), sans-serif;
}
