/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/styles/style.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.style_main__TbGlw {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url('/images/events.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
